<body class="bg-light">
<div class="min-vh-100 d-flex flex-column">
  <div class="jumbotron">
    <div class = "d-flex flex-wrap">
      <div class = "card-deck">
        <div *ngFor="let product of products" class="card border-dark w-25">
          <img class="card-img-top"
               src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22362%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20362%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16b7100744e%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A18pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16b7100744e%22%3E%3Crect%20width%3D%22362%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22134.9609375%22%20y%3D%2298.1%22%3E362x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E">
          <div class="card-body">
            <h5 class="card-title text-justify">
              {{product.brand}} {{product.type}} {{product.variety}} {{product.size}}
            </h5>
            <p class="card-text lead text-right">${{product.currentPrice}}</p>
          </div>
          <div class="card-footer">
            <button (click)="addToCart(product)" class="btn btn-primary btn-block">
              Add To Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
